<div class="card py-3">
    <div class="status d-flex py-2">
        <div class="status-item mx-3 ms-4">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="static/img/bukayo.jpg"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>Bukayo Saka</small>
            </div>
        </div>

        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="static/img/richarlison.webp"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>Richarlison</small>
            </div>
        </div>

        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="static/img/martinelli.jpg"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>Martinelli</small>
            </div>
        </div>

        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="static/img/pogba.jpg"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>Pogba</small>
            </div>
        </div>

        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="static/img/zaha.webp"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>Zaha</small>
            </div>
        </div>

        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="static/img/mbappe.jpeg"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>Mbappe</small>
            </div>
        </div>

        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="static/img/neymar.jpg"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>Neymarjr</small>
            </div>
        </div>

        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="static/img/roro.jpg"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>cr7Ronaldo</small>
            </div>
        </div>

    </div>
</div>